.edit_block_style .wrap1300{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.edit_block_style h5 {
    margin-bottom: 10px;
    font-size: 40px;
    margin-top:0;
}
.edit_block_style textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}
.edit_block_style .edit_btn {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border: none;
    box-shadow: none;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
}