.add_form_style h5 {
    margin-bottom: 10px;
}
.add_form_style textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}
.add_form_style button {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border: none;
    box-shadow: none;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
}