body {
  margin: 0;
  font-family: 'Roboto', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
  min-height: 100vh;
}
.wrap1300 {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  
}
